@page "~/blog.html"
@model Lyzde.Pages.BlogPage
@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Lyzde - Blog";
    ViewBag.Css = "/css/blog.css";
}

<div class="container">

    <div id="blog-list-container" class="mt-4">
        @foreach (var article in Model.Articles)
        {
            <a href="/post/@(article.Id + ".html")" data-id="@article.Id" class="card post-item mt-4">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @article.Datetime.ToString("f")
                    </h6>
                    <p class="card-text">@article.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        @{
                            foreach (var tag in article.Tag.Split('|'))
                            {
                                if (tag == "")
                                {
                                    continue;
                                }
                                <span class="badge badge-pill badge-secondary mr-1">@tag</span>
                            }
                        }
                    </small>
                </div>
            </a>
        }
    </div>
</div>