@page
@using System.Globalization
@model Lyzde.Pages.Post
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Yuanzhi LIANG / Tonny's personal website.">
    <meta name="author" content="Yuanzhi LIANG">
    <title>Lyzde - Blog - @Model.Current.Title</title>
    <link href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/pnotify@3.2.1/dist/pnotify.css" rel="stylesheet">
    <link href="https://unpkg.com/pnotify@3.2.1/dist/pnotify.brighttheme.css" rel="stylesheet">
    <style>
        body { padding-top: 3.5rem; }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index.html">LYZDE</a>
    <div id="main-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="me.html">Me</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="blog.html">Blog</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 id="blog-title" class="display-3">@Model.Current.Title</h1>
            <p id="blog-description">@Model.Current.Description</p>
            <p id="blog-tag">
                @{
                    var tags = Model.Current.Tag.Split('|');
                    foreach (var tag in tags)
                    {
                        if (tag == "") {continue;}
                        <span class="badge badge-pill badge-dark">@tag</span>
                    }
                }
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="blog-content-md" style="display: none">
                    @Html.Raw(Model.Current.Content)
                </div>
                <div id="blog-content" class="p-2">
                    {content}
                </div>
                <hr>
                <h4>Comments</h4>
                @{
                    if (Model.Current.Comments.Count == 0)
                    {
                        <p id="blog-comment-empty" class="text-muted text-center p-3">There is no comment now.</p>
                    }
                    else
                    {
                        <div id="blog-comment-container" class="list-group">
                            @foreach (var comment in Model.Current.Comments)
                            {
                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@comment.Subject</h5>
                                        <small><abbr class="human-time" title="@comment.Datetime.ToString(CultureInfo.CurrentCulture)"></abbr></small>
                                    </div>
                                    <p class="mb-1">@comment.Content</p>
                                    <small>@comment.Author</small>
                                </div>
                            }
                        </div>
                    }
                }
                
                <hr>
                <h4>Make a comment</h4>
                <form id="comment-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="comment-form-email">Email</label>
                            <input name="email" type="email" class="form-control" id="comment-form-email" maxlength="50" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="comment-form-name">Name</label>
                            <input name="name" type="text" class="form-control" id="comment-form-name" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment-form-subject">Subject</label>
                        <input name="subject" type="text" class="form-control" id="comment-form-subject" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="comment-form-content">Content (plain text only)</label>
                        <textarea name="content" class="form-control" id="comment-form-content" style="resize: vertical; min-height: 200px" maxlength="255" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Submit</button>
                    <p class="text-muted">Your email won't be shown.</p>
                </form>
            </div>
            <div class="col-md-4">
                <dl class="row">
                    <dt class="col-sm-3">Datetime</dt>
                    <dd id="blog-datetime" class="col-sm-9"><abbr class="human-time" title="@Model.Current.Datetime.ToString(CultureInfo.CurrentCulture)"></abbr></dd>
                    <dt class="col-sm-3">View</dt>
                    <dd id="blog-view" class="col-sm-9">@Model.Current.ViewCount</dd>
                    <dt class="col-sm-3">Comment</dt>
                    <dd id="blog-comment" class="col-sm-9">@Model.Current.Comments.Count</dd>
                </dl>
                <h5>Other articles</h5>
                <ul id="blog-list" class="list-group list-group-flush"></ul>

            </div>
        </div>
    </div>
</main>
<div class="container">
    <hr>
    <footer class="pt-2">
        <img class="mb-2" src="/favicon.ico" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2018 Lyzde.</small>
    </footer>
</div>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/showdown@1.8.6/dist/showdown.min.js"></script>
<script src="https://unpkg.com/moment@2.20.1/min/moment.min.js"></script>
<script src="https://unpkg.com/pnotify@3.2.1/dist/pnotify.js"></script>
<script>var blogId = @Model.Current.Id</script>
<script src="/js/post.js"></script>
<script src="/Ajax/Analysis"></script>
</body>
</html>
